.header {
	padding: 25px 0;
	@extend %clearfix;
}

.header-logo {
	float: left;
	width: 35%;
}

.logo {
	width: 300px;
}

.logo-text {
	position: absolute;
	left: -9999px;
}

.header-menu {
	float: right;
	width: 65%;
	@extend %clearfix;
}

.sidebar {
	margin-top: 25px;
	float: left;
}

.nav {
	width: 520px;
	line-height: 0;
}

.nav__list {
	width: 100%;
	text-align: justify;

	* {
		line-height: 1.42;
	}

	&:after {
		content: "";
		width: 100%;
		height: 0;
		@include inlineblock(middle);
	}
}

.nav__item {
	letter-spacing: 1.5px;
	position: relative;
	@include inlineblock(middle);

	&:hover {

		.nav__link {
			color: #ffb100;
		}

		.nav__link--after {
			
			&:after {
				border-left: 1px solid #ffb100;
				border-top: 1px solid #ffb100;
			    transform: rotate(45deg);
			    margin: 5px 0px 3px 6px;
			}
		}
		
		.nav__dropdown {
			left: 50%;
			margin-left: -114px;
			
		}
	}
}

.nav__link {
	color: #fff;
	@include transition(.3s);
}

.nav__link--after {

	&:after {
		content: "";
		width: 5px;
		height: 5px;
		border-left: 1px solid #fff;
		border-top: 1px solid #fff;
	    transform: rotate(225deg);
	    margin: 0 0px 3px 6px;
	    @include inlineblock(middle);
	    @include transition(.3s);
	}
}



.triangle {
	width: 40px;
	height: 40px;
	border-top: 40px solid #fff;
	border-right: 40px solid #fff;
	border-bottom: 40px solid #fff; 
	border-left: 40px solid #fff;
}

.nav__dropdown {
	width: 228px;
	background: #fff;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -114px;
	z-index: 1;
	left: -9999px;
	margin-top: 30px;
	opacity: .92;
	padding: 40px 48px;
	@include border-radius(20px)
	@include transition(.3s);

	&:before {
		content: "";
		display: block;
		position: absolute;
		bottom: 100%;
		left: 50%;
		margin: 0 0 0 -20px;	
		width: 0px;
		height: 0px;
		border-right: 20px solid transparent;
		border-bottom: 13px solid #fff; 
		border-left: 20px solid transparent;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		height: 35px;
		top: -35px;
	}
}

.nav__dropdown-item {
	margin: 0 0 17px 0;

	&:last-child {
		margin: 0;
	}
}

.nav__dropdown-link {
	color: $lightgrey;
}

.controls {
	margin-top: 15px;
	float: right;
	@extend %clearfix;
}

.controls__item {
	margin: 0 0 0 20px;
	@include inlineblock(middle);

	&:first-child {
		margin: 0;
	}
}

.controls__link {
 	width: 42px;
 	height: 42px;
 	display: block;
 	text-indent: -9999px;
 	position: relative;
 	background: rgba(255, 255, 255, 0.15);
 	@include border-radius(50%);
 	@include transition(.3s);

 	&:hover {
 		background: rgba(255, 175, 40, 0.7);
 	}

	&:after {
		content:"";
		display: block;
	    height: 19px;
    	width: 19px;
    	position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    margin: auto;
	}

}

@each $control in (office, search) {
	.controls__link--#{$control}:after {
		background: url('../img/header/#{$control}.png') no-repeat;
	}
}