.tasty {
	background: radial-gradient(at 85% 50%, #FEFFFF, #C8C8C8);
	// background: url(../img/tasty/tasty-cook.png) bottom 0 right 30px no-repeat;
}

.tasty__left {
	width: 650px;
}


.section__title-head--tasty {
	color: #2b2f5f;

}

.section__title-desc--tasty {
	color: #747474;
    max-width: 400px;
    margin: 0 0 60px 0;
    font-size: 15px;
    line-height: 1.48;
}

.tasty__item {
	width: 190px;
	margin: 0 20px 20px 0;
	@include inlineblock(top);
}

.tasty__item-img {
    position: relative;
    display: block;
    height: 100px;
    margin: 0 0 30px 0;

    &:before {
    content: '';
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 90px;
    height: 90px;
    margin: auto;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    }
}

.tasty__img {
	position: absolute;
    left: 0;
    bottom: 5%;
    max-width: 110px;
    max-height: 100px;
    margin: auto;
}

// .tasty__right {
// 	width: 650px;
// }

.tasty__item-text {
	color: #747474;
	font-size: 16px;
	@include malina();
}

